* {
  box-sizing: border-box;
}

.container {
  max-width: 1080px;
  padding: 0 25px;
  margin: 0 auto;
}
body, html {
  min-width: 320px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
}


h1, h2, h3, p, img, ol, ul {
  margin: 0;
}


