.last-child {
  padding: 25px 0;
}

.last-child__title {

  font-weight: 900;
  font-size: 36px;
  line-height: 120% ;
  margin-bottom: 30px;
}
.last-child__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  margin-bottom: 30px;
}
.img-last-recipe {
  position: relative;
  left: 22%;
  margin-bottom: 30px;
}
.img-last-one {

  margin-bottom: 30px;
}
.img-last-nav {
  margin-bottom: 30px;
}
.img-last_header {
  position: relative;
  left: 13%;
  margin-bottom: 30px;
}
.img-last-code-margin {
  position: relative;
  left: 35%;
  margin-bottom: 30px;
}
.img-last-code-last {
  position: relative;
  left: 27%;
}
