.footer {
  padding: 25px 0;
}
.results__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  margin-bottom: 20px;
}
.results__list {
  padding: 0;
  list-style: none;
  margin-bottom: 30px;
}
.results__item {

  margin-bottom: 10px;
}
.results__item:last-child {
  margin: 0;
}

